<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KillSwitch.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <KillSwitch.My.MySettings>
            <setting name="checkthisprocess" serializeAs="String">
                <value>openvpn</value>
            </setting>
            <setting name="closethisprocess" serializeAs="String">
                <value>qbittorrent</value>
            </setting>
            <setting name="timerefresh" serializeAs="String">
                <value>100</value>
            </setting>
        </KillSwitch.My.MySettings>
    </userSettings>
</configuration>